
.debug-background-aliceblue {
    -fx-background-color: aliceblue;
}

.debug-background-antiquewhite {
    -fx-background-color: antiquewhite;
}

.debug-background-aqua {
    -fx-background-color: aqua;
}

.debug-background-aquamarine {
    -fx-background-color: aquamarine;
}

.debug-background-azure {
    -fx-background-color: azure;
}

.debug-background-beige {
    -fx-background-color: beige;
}

.debug-background-bisque {
    -fx-background-color: bisque;
}

.debug-background-black {
    -fx-background-color: black;
}

.debug-background-blanchedalmond {
    -fx-background-color: blanchedalmond;
}

.debug-background-blue {
    -fx-background-color: blue;
}

.debug-background-blueviolet {
    -fx-background-color: blueviolet;
}

.debug-background-brown {
    -fx-background-color: brown;
}

.debug-background-burlywood {
    -fx-background-color: burlywood;
}

.debug-background-cadetblue {
    -fx-background-color: cadetblue;
}

.debug-background-chartreuse {
    -fx-background-color: chartreuse;
}

.debug-background-chocolate {
    -fx-background-color: chocolate;
}

.debug-background-coral {
    -fx-background-color: coral;
}

.debug-background-cornflowerblue {
    -fx-background-color: cornflowerblue;
}

.debug-background-cornsilk {
    -fx-background-color: cornsilk;
}

.debug-background-crimson {
    -fx-background-color: crimson;
}

.debug-background-cyan {
    -fx-background-color: cyan;
}

.debug-background-darkblue {
    -fx-background-color: darkblue;
}

.debug-background-darkcyan {
    -fx-background-color: darkcyan;
}

.debug-background-darkgoldenrod {
    -fx-background-color: darkgoldenrod;
}

.debug-background-darkgray {
    -fx-background-color: darkgray;
}

.debug-background-darkgreen {
    -fx-background-color: darkgreen;
}

.debug-background-darkgrey {
    -fx-background-color: darkgrey;
}

.debug-background-darkkhaki {
    -fx-background-color: darkkhaki;
}

.debug-background-darkmagenta {
    -fx-background-color: darkmagenta;
}

.debug-background-darkolivegreen {
    -fx-background-color: darkolivegreen;
}

.debug-background-darkorange {
    -fx-background-color: darkorange;
}

.debug-background-darkorchid {
    -fx-background-color: darkorchid;
}

.debug-background-darkred {
    -fx-background-color: darkred;
}

.debug-background-darksalmon {
    -fx-background-color: darksalmon;
}

.debug-background-darkseagreen {
    -fx-background-color: darkseagreen;
}

.debug-background-darkslateblue {
    -fx-background-color: darkslateblue;
}

.debug-background-darkslategray {
    -fx-background-color: darkslategray;
}

.debug-background-darkslategrey {
    -fx-background-color: darkslategrey;
}

.debug-background-darkturquoise {
    -fx-background-color: darkturquoise;
}

.debug-background-darkviolet {
    -fx-background-color: darkviolet;
}

.debug-background-deeppink {
    -fx-background-color: deeppink;
}

.debug-background-deepskyblue {
    -fx-background-color: deepskyblue;
}

.debug-background-dimgray {
    -fx-background-color: dimgray;
}

.debug-background-dimgrey {
    -fx-background-color: dimgrey;
}

.debug-background-dodgerblue {
    -fx-background-color: dodgerblue;
}

.debug-background-firebrick {
    -fx-background-color: firebrick;
}

.debug-background-floralwhite {
    -fx-background-color: floralwhite;
}

.debug-background-forestgreen {
    -fx-background-color: forestgreen;
}

.debug-background-fuchsia {
    -fx-background-color: fuchsia;
}

.debug-background-gainsboro {
    -fx-background-color: gainsboro;
}

.debug-background-ghostwhite {
    -fx-background-color: ghostwhite;
}

.debug-background-gold {
    -fx-background-color: gold;
}

.debug-background-goldenrod {
    -fx-background-color: goldenrod;
}

.debug-background-gray {
    -fx-background-color: gray;
}

.debug-background-green {
    -fx-background-color: green;
}

.debug-background-greenyellow {
    -fx-background-color: greenyellow;
}

.debug-background-grey {
    -fx-background-color: grey;
}

.debug-background-honeydew {
    -fx-background-color: honeydew;
}

.debug-background-hotpink {
    -fx-background-color: hotpink;
}

.debug-background-indianred {
    -fx-background-color: indianred;
}

.debug-background-indigo {
    -fx-background-color: indigo;
}

.debug-background-ivory {
    -fx-background-color: ivory;
}

.debug-background-khaki {
    -fx-background-color: khaki;
}

.debug-background-lavender {
    -fx-background-color: lavender;
}

.debug-background-lavenderblush {
    -fx-background-color: lavenderblush;
}

.debug-background-lawngreen {
    -fx-background-color: lawngreen;
}

.debug-background-lemonchiffon {
    -fx-background-color: lemonchiffon;
}

.debug-background-lightblue {
    -fx-background-color: lightblue;
}

.debug-background-lightcoral {
    -fx-background-color: lightcoral;
}

.debug-background-lightcyan {
    -fx-background-color: lightcyan;
}

.debug-background-lightgoldenrodyellow {
    -fx-background-color: lightgoldenrodyellow;
}

.debug-background-lightgray {
    -fx-background-color: lightgray;
}

.debug-background-lightgreen {
    -fx-background-color: lightgreen;
}

.debug-background-lightgrey {
    -fx-background-color: lightgrey;
}

.debug-background-lightpink {
    -fx-background-color: lightpink;
}

.debug-background-lightsalmon {
    -fx-background-color: lightsalmon;
}

.debug-background-lightseagreen {
    -fx-background-color: lightseagreen;
}

.debug-background-lightskyblue {
    -fx-background-color: lightskyblue;
}

.debug-background-lightslategray {
    -fx-background-color: lightslategray;
}

.debug-background-lightslategrey {
    -fx-background-color: lightslategrey;
}

.debug-background-lightsteelblue {
    -fx-background-color: lightsteelblue;
}

.debug-background-lightyellow {
    -fx-background-color: lightyellow;
}

.debug-background-lime {
    -fx-background-color: lime;
}

.debug-background-limegreen {
    -fx-background-color: limegreen;
}

.debug-background-linen {
    -fx-background-color: linen;
}

.debug-background-magenta {
    -fx-background-color: magenta;
}

.debug-background-maroon {
    -fx-background-color: maroon;
}

.debug-background-mediumaquamarine {
    -fx-background-color: mediumaquamarine;
}

.debug-background-mediumblue {
    -fx-background-color: mediumblue;
}

.debug-background-mediumorchid {
    -fx-background-color: mediumorchid;
}

.debug-background-mediumpurple {
    -fx-background-color: mediumpurple;
}

.debug-background-mediumseagreen {
    -fx-background-color: mediumseagreen;
}

.debug-background-mediumslateblue {
    -fx-background-color: mediumslateblue;
}

.debug-background-mediumspringgreen {
    -fx-background-color: mediumspringgreen;
}

.debug-background-mediumturquoise {
    -fx-background-color: mediumturquoise;
}

.debug-background-mediumvioletred {
    -fx-background-color: mediumvioletred;
}

.debug-background-midnightblue {
    -fx-background-color: midnightblue;
}

.debug-background-mintcream {
    -fx-background-color: mintcream;
}

.debug-background-mistyrose {
    -fx-background-color: mistyrose;
}

.debug-background-moccasin {
    -fx-background-color: moccasin;
}

.debug-background-navajowhite {
    -fx-background-color: navajowhite;
}

.debug-background-navy {
    -fx-background-color: navy;
}

.debug-background-oldlace {
    -fx-background-color: oldlace;
}

.debug-background-olive {
    -fx-background-color: olive;
}

.debug-background-olivedrab {
    -fx-background-color: olivedrab;
}

.debug-background-orange {
    -fx-background-color: orange;
}

.debug-background-orangered {
    -fx-background-color: orangered;
}

.debug-background-orchid {
    -fx-background-color: orchid;
}

.debug-background-palegoldenrod {
    -fx-background-color: palegoldenrod;
}

.debug-background-palegreen {
    -fx-background-color: palegreen;
}

.debug-background-paleturquoise {
    -fx-background-color: paleturquoise;
}

.debug-background-palevioletred {
    -fx-background-color: palevioletred;
}

.debug-background-papayawhip {
    -fx-background-color: papayawhip;
}

.debug-background-peachpuff {
    -fx-background-color: peachpuff;
}

.debug-background-peru {
    -fx-background-color: peru;
}

.debug-background-pink {
    -fx-background-color: pink;
}

.debug-background-plum {
    -fx-background-color: plum;
}

.debug-background-powderblue {
    -fx-background-color: powderblue;
}

.debug-background-purple {
    -fx-background-color: purple;
}

.debug-background-red {
    -fx-background-color: red;
}

.debug-background-rosybrown {
    -fx-background-color: rosybrown;
}

.debug-background-royalblue {
    -fx-background-color: royalblue;
}

.debug-background-saddlebrown {
    -fx-background-color: saddlebrown;
}

.debug-background-salmon {
    -fx-background-color: salmon;
}

.debug-background-sandybrown {
    -fx-background-color: sandybrown;
}

.debug-background-seagreen {
    -fx-background-color: seagreen;
}

.debug-background-seashell {
    -fx-background-color: seashell;
}

.debug-background-sienna {
    -fx-background-color: sienna;
}

.debug-background-silver {
    -fx-background-color: silver;
}

.debug-background-skyblue {
    -fx-background-color: skyblue;
}

.debug-background-slateblue {
    -fx-background-color: slateblue;
}

.debug-background-slategray {
    -fx-background-color: slategray;
}

.debug-background-slategrey {
    -fx-background-color: slategrey;
}

.debug-background-snow {
    -fx-background-color: snow;
}

.debug-background-springgreen {
    -fx-background-color: springgreen;
}

.debug-background-steelblue {
    -fx-background-color: steelblue;
}

.debug-background-tan {
    -fx-background-color: tan;
}

.debug-background-teal {
    -fx-background-color: teal;
}

.debug-background-thistle {
    -fx-background-color: thistle;
}

.debug-background-tomato {
    -fx-background-color: tomato;
}

.debug-background-transparent {
    -fx-background-color: transparent;
}

.debug-background-turquoise {
    -fx-background-color: turquoise;
}

.debug-background-violet {
    -fx-background-color: violet;
}

.debug-background-wheat {
    -fx-background-color: wheat;
}

.debug-background-white {
    -fx-background-color: white;
}

.debug-background-whitesmoke {
    -fx-background-color: whitesmoke;
}

.debug-background-yellow {
    -fx-background-color: yellow;
}

.debug-background-yellowgreen {
    -fx-background-color: yellowgreen;
}
