.text-normal {
    -fx-font-family: "Tahoma";
    -fx-font-size: 12px;
}
.scene-default {
    -fx-background-color: white;
}

.scene-transparent {
    -fx-background-color: rgba(0,0,0,0.5);
}

.debug-background-blue {
    -fx-background-color: blue;
}

.debug-background-red {
    -fx-background-color: red;
}

.debug-background-pink {
    -fx-background-color: pink;
}

.debug-background-yellow {
    -fx-background-color: yellow;
}

.de