.text-normal {
    -fx-font-family: "Tahoma";
    -fx-font-size: 12px;
}

.text-normal-gray {
    -fx-font-family: "Tahoma";
    -fx-font-size: 12px;
    -fx-text-fill: #C0C0C0;
}

.scene-default {
    -fx-background-color: white;
}

.scene-transparent {
    -fx-background-color: rgba(0,0,0,0.5);
}

.debug-background-fxDefult {
    -fx-background-color: -fx-background;
}

.debug-background-blue {
    -fx-background-color: blue;
}

.debug-background-red {
    -fx-background-color: red;
}

.debug-background-pink {
    -fx-background-color: pink;
}

.debug-background-yellow {
    -fx-background-color: yellow;
}


