.text-small {
    -fx-font-family: "Tahoma";
    -fx-font-size: 13px;
}

.text-small-bold {
    -fx-font-family: "Tahoma";
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

.text-normal {
    -fx-font-family: "Tahoma";
    -fx-font-size: 14px;
}

.text-normal-bold {
    -fx-font-family: "Tahoma";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.text-large {
    -fx-font-family: "Tahoma";
    -fx-font-size: 16px;

}

.text-large-eco-green {
    -fx-font-family: "Tahoma";
    -fx-font-size: 16px;
    -fx-text-fill: #20721a;
}

.text-normal-dark-gray {
    -fx-font-family: "Tahoma";
    -fx-font-size: 14px;
    -fx-text-fill: #484848;
}

.text-normal-gray {
    -fx-font-family: "Tahoma";
    -fx-font-size: 14px;
    -fx-text-fill: #C0C0C0;
}

.text-normal-white {
    -fx-font-family: "Tahoma";
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.text-normal-white-bold {
    -fx-font-family: "Tahoma";
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.text-normal-eco-green {
    -fx-font-family: "Tahoma";
    -fx-font-size: 14px;
    -fx-text-fill: #20721a;
}

.text-normal-eco-green-bold {
    -fx-font-family: "Tahoma";
    -fx-font-size: 14px;
    -fx-text-fill: #20721a;
    -fx-font-weight: bold;
}

.title-normal {
    -fx-font-family: "Tahoma";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.title-normal-dark-gray {
    -fx-font-family: "Tahoma";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #484848;
}

.title-large {
    -fx-font-family: "Tahoma";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.title-large-dark-gray {
    -fx-font-family: "Tahoma";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #484848;
}

.title-xlarge {
    -fx-font-family: "Tahoma";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.title-xlarge-dark-gray {
    -fx-font-family: "Tahoma";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #484848;
}

.subtitle {
    -fx-font-family: "Tahoma";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.subtitle-dark-gray {
    -fx-font-family: "Tahoma";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #484848;
}

.button-text-normal {
    -fx-font-family: "Tahoma";
    -fx-font-size: 14px;
}

.button-text-normal-bold {
    -fx-font-family: "Tahoma";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.button-text-normal-bold-white {
    -fx-font-family: "Tahoma";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.scene-default {
    -fx-background-color: white;
}

.scene-transparent {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.background-gray {
    -fx-background-color: #C0C0C0;
}

.background-green-lime {
    -fx-background-color: #87ff4c;
}

.background-gray-light {
    -fx-background-color: #f0f0f0;
}

.background-fxDefault {
    -fx-background-color: -fx-background;
}

.text-area .content {
    -fx-background-color: white;
}

.text-area {
    -fx-background-color: white;
}

.background-hover-lightGray:hover {
    -fx-background-color: #FCFCFC;
}

.background-pressed-darkGray:pressed {
    -fx-background-color: #D0D0D0;
}

.border-thin {
    -fx-border-width: 1px;
    -fx-border-color: #999999;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
}

.border-thin-round {
    -fx-border-width: 1px;
    -fx-border-color: #999999;
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
}

.clickable-list-item {
    -fx-border-width: 1px;
    -fx-border-color: #999999;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-background-color: #f0f0f0;
}

.clickable-list-item:hover {
    -fx-background-color: #fdfdfd;
}

.clickable-list-item:pressed {
    -fx-background-color: #e1e1e1;
    -fx-border-width: 2px;
    -fx-border-color: #00adff;
}

.action-button {
    -fx-background-color: #7af04c;
    -fx-border-width: 1px;
    -fx-border-color: #999999;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
}

.action-button:hover {
    -fx-background-color: #87ff4c;
}

.action-button:pressed {
    -fx-background-color: #69e143;
    -fx-border-width: 2px;
    -fx-border-color: #00adff;
}

.to-checkout-button-bg {
    -fx-background-color: #7af04c;
    -fx-border-width: 1px;
    -fx-border-color: #999999;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
}

.to-checkout-button-bg:hover {
    -fx-background-color: #87ff4c;
}

.to-checkout-button-bg:pressed {
    -fx-background-color: #69e143;
    -fx-border-width: 2px;
    -fx-border-color: #00adff;
}

.see-through-bg {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.background-black {
    -fx-background-color: black;
}

.background-black-transparent-little {
    -fx-background-color: rgba(0, 0, 0, 0.85);
}

.checkout-list-item {
    -fx-border-width: 1px;
    -fx-border-color: #999999;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.rounded {
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 20 20 20 20;
}

.text-input.error {
    -fx-focus-color: #d35244;
    -fx-faint-focus-color: #d3524422;

    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: white;
    -fx-background-color: -fx-focus-color,
    -fx-control-inner-background,
    -fx-faint-focus-color,
    linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: -0.2, 1, -1.4, 3;
    -fx-background-radius: 3, 2, 4, 0;
    -fx-prompt-text-fill: transparent;
}

.white-button {
    -fx-background-color: #EEEEEE;
    -fx-border-width: 1px;
    -fx-border-color: #999999;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-font-family: "Tahoma";
    -fx-font-size: 14px;
}

.white-button:hover {
    -fx-background-color: #FFFFFF;
    -fx-cursor: hand;
}

.white-button:pressed {
    -fx-background-color: #DDDDDD;
    -fx-border-width: 2px;
    -fx-border-color: #00adff;
}

.background-eco-green {
    -fx-background-color: #20721a;
}

.regret-button-bg {
    -fx-background-color: rgba(0, 0, 0, 0.65);
    -fx-background-radius: 2px;
}

.regret-button-bg:hover {
    -fx-background-color: rgba(0, 0, 0, 0.45);
    /*-fx-background-color: rgba(150, 150, 150, 0.85);*/
    -fx-background-radius: 2px;
}

.regret-button-bg:pressed {
    -fx-background-color: rgba(0, 0, 0, 0.85);
    /*-fx-background-color: rgba(0, 0, 0, 0.85);*/
    -fx-background-radius: 2px;
}

.background-rounded {
    -fx-background-radius: 2px;
}
