
/*soft pastel colors*/
.ReseneBlossom-background {
    -fx-background-color: #D9B4B7;
}

.ReseneBurningSand-background {
    -fx-background-color: #C68868;
}

.ReseneCherub-background {
    -fx-background-color: #F2D9DD;
}

.ReseneDutchWhite-background {
    -fx-background-color: #EEDEBD;
}

.ResenePancho-background {
    -fx-background-color: #DBB995;
}

.ReseneSandyBeach-background {
    -fx-background-color: #F9DBB9;
}

.ResenePerano-background {
    -fx-background-color: #ACBBE6;
}

.ReseneSpunPearl-background {
    -fx-background-color: #A2A2AC;
}

.ReseneSurfCrest-background {
    -fx-background-color: #C7D2BD;
}

.ReseneViola-background {
    -fx-background-color: #BE949E;
}

.ReseneVistaBlue-background {
    -fx-background-color: #A4D0B3;
}

.ReseneWistful-background {
    -fx-background-color: #A0A3CD;
}

/*soft mid-toned colors*/

.ReseneAstra-background {
    -fx-background-color: #EBD4A8;
}

.ReseneAuChico-background {
    -fx-background-color: #986B5D;
}

.ReseneCoral-background {
    -fx-background-color: #BEAF95;
}

.ReseneHighland-background {
    -fx-background-color: #7F9062;
}

.ReseneLaurel-background {
    -fx-background-color: #758A71;
}

.ReseneMexicanRed-background {
    -fx-background-color: #924742;
}

.ReseneLeather-background {
    -fx-background-color: #8B6C58;
}

.ReseneNeptune-background {
    -fx-background-color: #80A6AB;
}

.ReseneWhite-background {
    -fx-background-color: #FEFEFE;
}

.ResenePutty-background {
    -fx-background-color: #CAAC75;
}

.ReseneSpanishWhite-background {
    -fx-background-color: #DED0B8;
}