body {
    font-family: "Roboto Lt",SansSerif;
    -webkit-font-smoothing: antialiased;
    background-color: #f0f0f0;
    padding: 10px;
}

p {
    font-size: 16pt;
}

a {
    text-decoration: none;
}

a:hover {
    color: black;
}

h3 {
    font-family: "Raleway Black",SansSerif;
    font-size: 18pt;
    font-weight: bold;
}

h1 {
    font-family: "Raleway Black",SansSerif;
    font-size: 22pt;
}

.tableOfContentList {
    padding-left: 30px;
    font-size: 18px;
}

.tableOfContents {
    background-color: #f4f4f4;
    padding-left: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #999999;
    border-radius: 5px;
}